{
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "printWidth": 140,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "trailingComma": "none",
    "vueIndentScriptAndStyle": true,
    "rangeStart": 0
}
